<?xml version="1.0"?>

<robot name="spot"
    xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find spot_description)/urdf/constants.urdf.xacro" />

    <xacro:macro name="load_spot" params=" arm:=false gazebo:=false
    tf_prefix">

        <link name="${tf_prefix}body">
            <visual>
                <geometry>
                    <mesh filename="package://spot_description/meshes/base/visual/body.obj" />
                </geometry>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://spot_description/meshes/base/collision/body_collision.obj" />
                </geometry>
            </collision>
            <inertial>
                <mass value="${base_mass}"/>
                <inertia ixx="${(1/12) * base_mass * (base_width * base_width + base_height * base_height)}" ixy="0.0" ixz="0.0" iyy="${(1/12) * base_mass * (base_length * base_length + base_height * base_height)}" iyz="0.0" izz="${(1/12) * base_mass * (base_length * base_length + base_width * base_width)}" />
            </inertial>
        </link>

        <link name="${tf_prefix}base_link">
            <inertial>
                <origin rpy="0.0 0.0 0.0" xyz="0.006394396536052227 -9.812158532440662e-05 0.0009113792330026627" />
                <mass value="32.86" />
                <inertia ixx="0.13143999874591827" ixy="0.0" ixz="0.0" iyy="0.13143999874591827" iyz="0.0" izz="0.13143999874591827" />
            </inertial>
        </link>

        <joint name="${tf_prefix}base_link_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${tf_prefix}body" />
            <child link="${tf_prefix}base_link" />
        </joint>

        <link name="${tf_prefix}front_rail">
            <inertial>
                <origin rpy="0. 0. 0." xyz="0. 0. 0." />
                <mass value="1.0e-6" />
                <inertia ixx="1.0e-9" ixy="0.0" ixz="0.0" iyy="1.0e-9" iyz="0.0" izz="1.0e-9" />
            </inertial>
        </link>

        <joint name="${tf_prefix}front_rail_joint" type="fixed">
            <origin xyz="0.223 0 0.0805" rpy="0 0 0" />
            <parent link="${tf_prefix}body" />
            <child link="${tf_prefix}front_rail" />
        </joint>

        <link name="${tf_prefix}rear_rail">
            <inertial>
                <origin rpy="0. 0. 0." xyz="0. 0. 0." />
                <mass value="1.0e-6" />
                <inertia ixx="1.0e-9" ixy="0.0" ixz="0.0" iyy="1.0e-9" iyz="0.0" izz="1.0e-9" />
            </inertial>
        </link>

        <joint name="${tf_prefix}rear_rail_joint" type="fixed">
            <origin xyz="-0.223 0 0.0805" rpy="0 0 0" />
            <parent link="${tf_prefix}body" />
            <child link="${tf_prefix}rear_rail" />
        </joint>

        <!-- Macros for Spot's legs. -->
        <xacro:include filename="$(find spot_description)/urdf/spot_leg.urdf.xacro" />
        <xacro:spot_leg leg_name="front_left"/>
        <xacro:spot_leg leg_name="front_right"/>
        <xacro:spot_leg leg_name="rear_left"/>
        <xacro:spot_leg leg_name="rear_right"/>

        <!-- Standard accessories. -->
        <xacro:include filename="$(find spot_description)/urdf/accessories.urdf.xacro" />

        <!-- Optional custom includes. -->
        <xacro:include filename="$(optenv SPOT_URDF_EXTRAS empty.urdf)" />

        <!-- Include Arm if necessary-->
        <xacro:if value="${arm}">
            <xacro:include filename="$(find spot_description)/urdf/spot_arm_macro.urdf" />
            <xacro:load_arm tf_prefix="${tf_prefix}" />
        </xacro:if>

        <!-- Include Gazebo control if necessary -->
        <xacro:if value="${gazebo}">
            <gazebo>
                <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>10.0</updateRate>
                    <bodyName>base_link</bodyName>
                    <topicName>odom/ground_truth</topicName>
                    <gaussianNoise>0.01</gaussianNoise>
                    <frameName>world</frameName>
                    <xyzOffsets>0 0 0</xyzOffsets>
                    <rpyOffsets>0 0 0</rpyOffsets>
                </plugin>
            </gazebo>

            <gazebo>
                <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                    <legacyModeNS>true</legacyModeNS>
                </plugin>
            </gazebo>
        </xacro:if>

    </xacro:macro>
</robot>
