<launch>
  <arg name="username" default="dummyusername" />
  <arg name="password" default="dummypassword" />
  <arg name="app_token" default="/home/spot/.bosdyn/dev.app_token" />
  <arg name="hostname" default="192.168.50.3" />

  <include file="$(find spot_description)/launch/description.launch" />
  <include file="$(find spot_driver)/launch/control.launch" />

  <node pkg="spot_driver" type="spot_ros.py" name="spot_ros"  ns="spot" output="screen">
    <rosparam file="$(find spot_driver)/config/spot_ros.yaml" command="load" />
    <param name="username" value="$(arg username)" />
    <param name="password" value="$(arg password)" />
    <param name="app_token" value="$(arg app_token)" />
    <param name="hostname" value="$(arg hostname)" />
    <remap from="joint_states" to="/joint_states"/>
    <remap from="tf" to="/tf"/>
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" >
    <rosparam command="load" file="$(find spot_driver)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="spot/cmd_vel"/>
  </node>

</launch>
